<section>

{{# PROMOTION - CURRENT WEEK #}}
    {{ collection:frontpage }}
        {{ if published }}
            <div class="aanbiedingsactie">
    {{#         <div class="aanbiedingsactie-item"> #}}
                <img src="{{ banner_pm }}"/>
                <div class="text-overlay-actie">
                    <h2> {{ title }}</h2>
                    <h3> {{ subtitle }}</h3>
                    <a href="/aanbiedingen">Aanbiedingen</a>
    {{#             </div> #}}
                </div>
            </div>
        {{ else }}
                <p><h3>Binnenkort volgen er nieuwe acties!</h3></p>
        {{ /if }}
    {{ /collection:frontpage }}

    {{# PROMOTION - PRODUCTS #}}
    {{# PARENT #}}
    <div class="grid-actie-parent">

        {{# PROMOTION-PRODUCT #}}
        {{ if promotions }}
            {{ promotions }}
                <div class="grid-actie">
                    <a href="/{{ category }}/{{ product.slug }}">
                        <div class="grid-actie-left">
                            <h4>{{ promotion.product.Title }}</h4>
                            {{ product.Shortdescription }}
                        </div>

                        <div class="grid-actie-right">
                            <img src="/images/{{ product.Image }}">
                            € {{ DiscountPrice format_number="2" }}
                        </div>
                    </a>
                </div>
            {{ /promotions }}
        {{ /if }}
    </div> {{# Closing div for grid-actie-parent #}}

        {{# NIEUWS #}}
        {{ collection:frontpage }}
            {{ if published }}
                <div class="nieuws">
                    <div class="nieuws-item">
                        <img src="{{ banner_news }}"/>
                        <div class="text-overlay-nieuws">
                            <h2> {{ title_news }} </h2>
                            <h3> {{ short_description }} </h3>
                            <a href="#">Volledig nieuwsbericht</a>
                        </div>
                    </div>
                </div>
            {{ /if }}
        {{ /collection:frontpage }}

</section>
