<section>

    {{# PROMOTION - CURRENT WEEK #}}
    {{ collection:home }}
    <div class="aanbiedingsactie">
{{#         <div class="aanbiedingsactie-item"> #}}
            <img src="{{ banner_pm }}"/>
            <div class="text-overlay-actie">
                <h2> {{ title }}</h2>
                <h3> {{ subtitle }}</h3>
                <a href=" {{ link_pm }}">Aanbiedingen</a>
{{#             </div> #}}
        </div>
    </div>
    {{ /collection:home }}

    {{# PROMOTION - PRODUCTS #}}
    {{# PARENT #}}
    <div class="grid-actie-parent">

        {{# PROMOTION-PRODUCT #}}
        {{ foreach array="promotions:promotion" }}
            <div class="grid-actie">
                <a href="{{ $promotion.product.slug }}">
                    <div class="grid-actie-left">
                        <h4> {{ $promotion.product.Title }} </h4>
                        {{ $promotion.product.Shortdescription }}
                    </div>

                    <div class="grid-actie-right">
                        <img src="/images/{{ $promotion.product.Image }}">
                        {{ $promotion.DiscountPrice format_number="2" }}
                    </div>
                </a>
            </div>
        {{ /foreach }}

        {{# NIEUWS #}}
        {{ collection:home }}
        <div class="nieuws">
            <div class="nieuws-item">
                <img src="{{ banner_news }}"/>
                <div class="text-overlay-nieuws">
                    <h2> {{ title_news }} </h2>
                    <h3> {{ short_description }} </h3>
                    <a href=" {{ link_news }}">Volledig nieuwsbericht</a>
                </div>
            </div>
        </div>
        {{ /collection:home }}

    </div> {{# Closing div for grid-actie-parent #}}

</section>
