<!doctype html>
<html>
<head>
    {{ vite src='resources/css/app.css' }}
    {{ vite src='resources/js/app.js' }}
    <title>Commodum Copia</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>


<body>
    {{ partial:header }}

<!-- ===============================================================================
                MAIN CONTENT
=============================================================================== -->
    {{ template_content }}

    {{ partial:footer }}
</body>

</html>
