<section>
    {{# CATEGORY-BANNER #}}
    {{ partial:banner_cat }}

    {{# PARENT #}}
    <div class="product-parent">

        {{# BOX #}}
        <div class="product-box">
            <div class="left">
                <img src="/images/{{ product.Image }}">
            </div>

            <div class="middle">
                <h3> {{ product.Title }} </h3>
                € {{ product.Price format_number="2" }}
                <p>{{ product.Shortdescription }}</p>
            </div>

            <div class="right">
                <a href="#">Voeg toe</a>
            </div>
        </div>

        {{# PRODUCTDESCRIPTION - TITLE #}}
        <div class="titel">
            <h4>Productomschrijving</h4>
        </div>

        {{# PRODUCTDESCRIPTION #}}
        <div class="product-box-omschrijving">
            <div class="cat">
                {{ product.Fulldescription }}
            </div>
        </div>

    </div>
</section>
