<!-- ===============================================================================
                FOOTER
=============================================================================== -->
<footer id="main-footer">
 <div class="grid-footer-1">

        {{# SOCIAL MEDIA #}}
        <div class="grid-item-footer-1"><h3>Socialmedia</h3>
            <a href="#"><i class="fa-brands fa-square-twitter fa-xl" style="color: #ffffff;"></i></a>
        </div>

        <div class="grid-item-footer-1"><h3>Nieuwsbrief</h3>
            <a href="#"><i class="fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i></a>
        </div>

        {{# KLANTENSERVICE #}}
        <div class="grid-item-footer-1"><h3>Klantenservice</h3>
            <a href="#"><i class="fa-brands fa-whatsapp fa-xl" style="color: #ffffff;"></i></a>
        </div>
    </div>

        {{# LINKS #}}
    <div class="grid-footer-2">
{{#        <div class="grid-item-footer-2"> #}}
        <a href="#">Algemene voorwaarden</a>
        <a href="#">Levering & verzending</a>
        <a href="#">Privacybeleid</a>
        <a href="#">Onze organisatie</a>
    </div>

        {{# ICONS #}}
    <div class="grid-footer-3">

        <div class="copyright">© 2023 Commodum Copia</div>

        <div class="grid-item-footer-3">
                <img src="{{ Vite:asset src='resources/backend/assets/img/iconen/ideal.svg' }}">
        </div>

        <div class="grid-item-footer-3">
                <img src="{{ Vite:asset src='resources/backend/assets/img/iconen/pin.svg' }}">
        </div>

        <div class="grid-item-footer-3">
                <img src="{{ Vite:asset src='resources/backend/assets/img/iconen/thuiswinkelwaarborg-business.svg' }}">
        </div>
    </div>
</footer>
