<!-- ===============================================================================
                HEADER
=============================================================================== -->
<header>
    {{# LOGO DEFAULT #}}
    <div class="logo">COPIA</div>

    {{# LOGO MOBILE #}}

    {{# NAVIGATION BAR #}}
    <div class="navbar">

    {{# MENU DEFAULT #}}
    <div class="menu">
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="fa-solid fa-bars" style="color: #ffffff"></label>
        <ul class="menu-items">
            <li><a href="/">Home</a></li>
            <li><a href="/categorien">Producten</a></li>
            <li><a href="/aanbiedingen">Aanbiedingen</a></li>
            <li><a href="/winkelwagen">Winkelwagen</a></li>
            <li><a href="/bestellen">Bestellen</a></li>
        </ul>
        </div>

    {{# MENU MOBILE #}}

    {{# SEARCH #}}
    <div class="search"><input type="text" placeholder="Zoeken.."></div>

    {{# SEARCH ICON #}}
{{#        <a href="#"><i class="fa-solid fa-magnifying-glass fa-rotate-90" style="color: #ffffff;"></i></a> #}}

    {{# ACCOUNT #}}
    <a href="#"><i class="fa-user fa-solid fa-xl" style="color: #ffffff;"></i></a>
    </div>
    {{# END NAVIGATION BAR #}}
</header>
