@import "~@fortawesome/fontawesome-free/css/all.css";

* {
    font-family: 'Open Sans', sans-serif;
    /*box-sizing: border-box;*/
    /*max-width: 1664px;*/
    /*margin:auto*/
}

body {
    background-color: #edf2f7;
    /*background-color: lightgrey;*/
    /*max-width: 1664px;*/
    width: 100%;
    margin: 5em auto 0;
    /*margin-bottom: auto;*/
    /*padding-top: 1em;*/
    /*flex: 1 0 auto;*/
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    padding: 0;
}

h1 {
    /*color: dodgerblue;*/
    color: #2d3748;
    font-family: sans-serif;
    margin-top: 1rem;
    text-align: left;
    margin-left: 10%;
}

hr {
    margin-left: 4rem;
    margin-right: 4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #edf2f7;
}

a:hover {
    color: black;
}

/* HEADER */
header {
    background-color: #e37602;
    /*width: 1664px;*/
    width: 100%;
    padding-left: 4em;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: sans-serif;
    font-size: 16px;
    /*border-radius: 5px;*/
    margin: 0;
    position: fixed;
    top: 0;
    z-index: 999;
}

/* HEADER NAVIGATION BAR */
.navbar {
    width: 70%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12%;
    margin-right: 12%;
}

.search {
    float: right;
    width: 20%;
    border-radius: 20px; /* Add rounded border */
    overflow: hidden; /* Hide overflow content */
    background-color: #f0f0f0;
}

.search input[type="text"] {
    border: none; /* Remove border */
    padding: 5px; /* Add padding */
    width: 100%; /* Make input element fill parent container */
    box-sizing: border-box; /* Include padding and border in element width */
    text-align: center;
}

.links {
    display: flex;
    float: left;
    gap: 1rem;
}

/* CHAT GPT*/
/*.navbar {*/
/*    width: 100%;*/
/*    height: 60px; !* increased height for better visibility *!*/
/*    display: flex;*/
/*    flex-direction: column; !* added to set flex direction to column *!*/
/*    justify-content: center; !* added to center the child elements vertically *!*/
/*    align-items: flex-start; !* changed to align the items to the left *!*/
/*}*/

/*.links {*/
/*    display: flex;*/
/*    gap: 1rem;*/
/*}*/

/*.search {*/
/*    padding-left: 3rem;*/
/*}*/

/*.account {*/
/*    margin-left: auto;*/
/*}*/

/* DROPDOWN MENU */
.dropdown {
    position: absolute;
    right: 1rem;
    top: 60px;
    width: 300px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(25px);
    border-radius: 10px;
    }

.dropdown {
    align-items: center;
    }

/* RESPONSIVE DESIGN */
@media (max-width: 500px) {
    .navbar .links {
        display: none;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*float: left;*/
        /*!*position: absolute;*!*/
        /*!*top: 60px;*!*/
        /*width: 200px;*/
        /*background: rgba(135, 145, 161, 0.5);*/
        /*backdrop-filter: blur(25px);*/
        /*border-radius: 10px;*/
    }
}

@media (max-width: 800px) {
    .navbar .links {
        display: none;
        /*display: flex;*/
        /*flex-direction: column;*/
        /*float: left;*/
        /*!*position: absolute;*!*/
        /*!*top: 60px;*!*/
        /*width: 200px;*/
        /*background: rgba(135, 145, 161, 0.5);*/
        /*backdrop-filter: blur(25px);*/
        /*border-radius: 10px;*/
    }
}

/* FOOTER */
footer {
    /*background-color: lightslategrey;*/
    background-color: #e37602;
    width: 100%;
    /*background-color: #cccccc;*/
    margin-top: auto;
    font-family: sans-serif;
    font-size: 16px;
    /*border-radius: 5px;*/
}

/* FOOTER GRID */
.grid-footer-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    /*height: 20vh;*/
    /*justify-items: center;*/
    /*align-items: center;*/
    padding: 2rem;
    text-align: center;
    margin-outside: 7rem;
    margin-left: 14%;
    margin-right: 14%;
}

.grid-item-footer-1 a:hover {
    color: black;
}

.grid-item-footer-1 {
    /*background-color: #4a5568;*/
    padding: 1em;
    border-radius: 5px;
}

.grid-item-footer-1:hover {
    background-color: white;
}

/*.grid-item {*/
/*    background-color: #2d3748;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    color: #edf2f7;*/
/*}*/

/* PRODUCTS GRID */
.grid-products-1 {
    display: grid;
    /*grid-template-columns: repeat(6, 1fr);*/
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-auto-rows: minmax(0, auto);
    gap: 10px;
    /*height: 30vh;*/
    justify-items: center;
    justify-content: space-evenly;
    /*align-items: center;*/
    padding: 1em;
    margin-bottom: 1rem;
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
    border-radius: 5px;
}

.grid-products-1 a:hover {
    color: #edf2f7;
}

.grid-item-products-1 {
    /*scroll-snap-align: start;*/
    /*background-color: #2d3748;*/
    background-color: #a0aec0;
    padding: 3rem;
    border-radius: 5px;
    text-align: center;
    color: #edf2f7;
    display: flex; /* Display as flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*height: 100px; !* Set the height to match the width *!*/
    width: 12rem;
    /*margin: 1rem;*/
}

.grid-item-products-1:hover {
    background-color: lightslategrey;
}

.grid-item-products-1 a:hover {
    color: black;
}

/* AANBIEDINGEN GRID */
.grid-aanbiedingen-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));*/
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-auto-rows: minmax(0, auto);
    gap: 2rem;
    /*height: 20vh;*/
    /*padding: 1rem;*/
    margin-bottom: 1rem;
    /*justify-items: center;*/
    justify-content: space-evenly;
    align-items: center;
    /*background-color: white;*/
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1em;
    /*margin-left: 5%;*/
    /*margin-right: 5%*/
    /*align-items: stretch;*/
}

/* AANBIEDINGEN GRID ITEM 1*/
.grid-item-aanbiedingen-1 a:hover {
    color: black;
}

.grid-item-aanbiedingen-1{
    /*scroll-snap-align: start;*/
    /*background-color: #2d3748;*/
    background-color: #a0aec0;
    padding: 3rem;
    border-radius: 5px;
    text-align: center;
    color: #edf2f7;
    display: flex; /* Display as flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    /*height: 100px; !* Set the height to match the width *!*/
    /*margin: 1rem;*/
    height: 9rem;
}

.grid-item-aanbiedingen-1:hover {
    background-color: lightslategrey;
}

.grid-item-aanbiedingen-1 a:hover {
    color: black;
}

/*.grid-item {*/
/*    background-color: #2d3748;*/
/*    padding: 20px;*/
/*    text-align: center;*/
/*    color: #edf2f7;*/
/*}*/

/* FULLPAGE ITEM */
.fullpage {
    color: #2d3748;
    margin-left: 10%;
    margin-right: 10%;
    /*background-color: lightseagreen;*/
    /*background-color: rgba(112, 111, 115, 0.1);*/
    /*background-color: rgba(255, 255, 255, 0.2);*/
    background-color: white;
    padding: 2em;
    /*text-align: center;*/
    font-size: 16px;
    border-radius: 5px;
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: lightslategrey;*/
    margin-bottom: 1rem;
    /*margin: 0;*/
}

.fullpage a {
    color: #2d3748;
}

.fullpage a:hover {
    color: dodgerblue;
}
