@import "@fortawesome/fontawesome-free/css/all.css";

/*  BODY is width 75%
    ELEMENTS within are 95%
 */

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #edf2f7;
    color: #2d3748;
    margin: 5em auto 0;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    padding: 0;
    align-items: center;
}

/* RESPONSIVE BODY */
@media screen and (min-width: 950px) {
    body {
        width: 75%;
    }
}

h1 {
    margin-top: 2rem; /* SPACE NEEDED TO APPEAR UNDER THE HEADER */
    color: #2d3748;
    font-family: sans-serif;
}

h2 {
    color: #2d3748;
}

hr {
    margin-left: 4rem;
    margin-right: 4rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #edf2f7;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 5px;
}

/* HEADER GENERAL AND MOBILE */
/* SOME OPTIONS MAY ONLY BE USED FOR max-width: 768px*/
header {
    background-color: rgba(104,172,72,1.0);
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    gap: 2rem;
    box-shadow: 1px 1px 2px #888888;
}

.logo {
    font-size: 20px;
    color: yellow;
    display: none;
}

.logo img {
    width: 200px;
}


/* HEADER NAVIGATION BAR */
.navbar {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 1rem;*/
}

.navbar a {
    color: white;
    padding: 14px 16px;
    /*text-decoration: none;*/
    font-size: 17px;
    display: block;
}

.menu input {
    display: none;
}

.fa-bars {
    /*display: inline-block;*/
    padding-left: 1rem; /* Without this, the icon appear outside the screen somehow*/
    cursor: pointer;
}

.menu-items {
    display: none;
    /*position: absolute;*/
    margin: 0;
    top: 100%;
    left: 0;
    background-color: rgba(104,172,72,1.0);
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.menu-items a {
    padding: 5px;
}

.search {
    max-width: 250px;
    justify-content: center;
    border-radius: 20px; /* Add rounded border */
    overflow: hidden; /* Hide overflow content */
    background-color: #f0f0f0;
}

.search input[type="text"] {
    border: none; /* Remove border */
    padding: 5px; /* Add padding */
    width: 100%; /* Make input element fill parent container */
    box-sizing: border-box; /* Include padding and border in element width */
    text-align: center;
    border-radius: 20px;
}


/* USED FOR JAVASCRIPT TO ADJUST THE MENU ON CLICK*/
.fa-bars.style {
    margin-top: 1rem;
}

.menu-items.show {
    display: block;
    padding-right: 100vw;
}

.search.hide {
    display: none;
}

.fa-user.hide {
    display: none;
}

header.background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* RESPONSIVE HEADER FOR WIDER SCREEN*/
@media screen and (min-width: 728px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 2%;
        display: flex;
    }

    .navbar {
        gap: 2rem;
        margin-right: 30%;
    }

    .fa-bars {
        display: none;
        cursor: pointer;
    }

    .menu-items {
        display: flex;
        gap: 1rem;
    }

    .menu-items .search .fa-user {
        flex: 1;
    }

    .search {
       display: none;
    }
}

@media screen and (min-width: 1340px) {
    .search {
        display: flex;
        max-width: 400px;
    }
}

/* FOOTER */
footer {
    background-color: rgba(104,172,72,1.0);
    width: 100vw;
    margin-top: auto;
    font-family: sans-serif;
    font-size: 16px;
    padding-bottom: 1rem;
    box-shadow: 1px -1px 2px #888888;
}

/* FOOTER GRID */
.grid-footer-1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.grid-item-footer-1 {
    color: white;
    padding: 1em;
    border-radius: 5px;
}

/* LINKS */
.grid-footer-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.grid-footer-2 a {
    color: black;
}

/* ICONS */
.grid-footer-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 3rem;
}

.grid-footer-3 img {
    max-height: 30px;
    width: 100%;
}

.grid-item-footer-3 {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* COPYRIGHT */
.copyright {
    display: flex;
    bottom: 0;
    justify-content: center;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* RESPONSIVE FOOTER */
/* Media Query for screens with a maximum width of 480px */
@media (max-width: 480px) {
    .grid-footer-1 {
        flex-direction: column;
    }
}

/* PRODUCTS GRID */
.grid-products-1 {
    display: grid;
    justify-items: center;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    /*overflow: scroll;*/
}

.grid-products-1 a:hover {
    color: #edf2f7;
    text-decoration: none;
}

.grid-item-products-1 {
    background-color: #eee;
    padding: 1rem 1rem 4em;
    border-radius: 5px;
    text-align: center;
    color: #edf2f7;
    display: flex; /* Display as flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 12rem;
    height: 12rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.grid-item-products-1 img {
    width: 100%; /* Occupy the full width of the container */
    height: 100%; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.grid-item-products-1 img:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.overlay-text-products {
    position: absolute; /* Position the text element */
    top: 83%; /* Adjust the vertical position as needed */
    left: 50%; /* Adjust the horizontal position as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: #2d3748;
    font-size: 1.0rem;
    z-index: 2; /* Ensure the text appears above the image */
    text-align: center;
    pointer-events: none; /* Allow clicks to go through the text */
}

.grid-item-products-1:hover {
    background-color: #cccccc;
}

/* RESPONSIVE GRID-PRODUCTS */
@media screen and (min-width: 1291px) {
    .grid-products-1 {
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1290px) {
    .grid-products-1 {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .grid-products-1 {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 880px) {
    .grid-products-1 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .grid-item-products-1 {
        width: 14rem;
        height: 14rem;

    }
}

@media screen and (max-width: 700px) {
    .grid-products-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .grid-item-products-1 {
        width: 16rem;
        height: 16rem;

    }
}

@media screen and (max-width: 480px) {
    .grid-products-1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .grid-item-products-1 {
        width: 16rem;
        height: 16rem;

    }
}

/* AANBIEDINGEN */
/* ACTIE */
.actie {
    display: flex;
    flex-wrap: wrap;
    padding: 2em;
    border-radius: 5px;
    background-color: white;
    width: 90%;
    margin-bottom: 1rem;
}

.actie h2 {
    margin: 0;
}

.actie-text {
    padding-bottom: 1em;
}

/* AANBIEDINGEN GRID */
.grid-aanbiedingen-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    padding: 1em;
    width: 100%;
    gap: 1rem;
}

.grid-aanbiedingen-1 a:hover {
    text-decoration: none;
}

/* AANBIEDINGEN GRID ITEM 1*/
.grid-item-aanbiedingen-1{
    background-color: #eee;
    border-radius: 5px;
    text-align: center;
    color: #edf2f7;
    width: 18rem;
    height: 18rem;
    padding: 1rem 0.2rem 5em;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    /*margin-bottom: 1rem;*/
}

.grid-item-aanbiedingen-1:hover {
    background-color: #cccccc;
}

.grid-item-aanbiedingen-1 img {
    width: 100%; /* Occupy the full width of the container */
    height: 100%; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.grid-item-aanbiedingen-1 img:hover {
    opacity: 0.8;
    transform: scale(1.01);
}

/* RESPONSIVE GRID-AANBIEDINGEN */
@media screen and (min-width: 1291px) {
    .grid-aanbiedingen-1 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 836px) {
    .grid-aanbiedingen-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 538px) {
    .grid-aanbiedingen-1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* FULLPAGE ITEM */
.fullpage {
    color: #2d3748;
    background-color: white;
    padding: 2em;
    font-size: 16px;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 90%;
}

.fullpage a {
    color: #2d3748;
}

.fullpage a:hover {
    /*color: dodgerblue;*/
}

.item h2 {
    margin: 0;
    padding: 0;
}

.item h3 {
    margin: 0;
    padding: 0;
}
