@import "@fortawesome/fontawesome-free/css/all.css";

/*  BODY is width 75%
    ELEMENTS within are 90%
 */

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #edf2f7;
    color: #2d3748;
    margin: 5em auto 0;
    flex-direction: column;
    min-height: 100vh;
    display: flex;
    padding: 0;
    align-items: center;
}

/* BODY RESPONSIVE */
@media screen and (min-width: 950px) {
    body {
        width: 75%;
    }
}

h1 {
    margin-top: 2rem; /* SPACE NEEDED TO APPEAR UNDER THE HEADER */
    color: #2d3748;
    font-family: sans-serif;
    text-align: center;
}

h2 {
    color: #2d3748;
}

h3 {
    margin:0;
}

h4 {
    margin:0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #2d3748;
}

a:hover {
    text-decoration: underline;
}

img {
    border-radius: 5px;
}

/* HEADER GENERAL AND MOBILE */
/* SOME OPTIONS MAY ONLY BE USED FOR max-width: 768px*/
header {
    background-color: rgba(104,172,72,1.0);
    width: 100vw;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
    top: 0;
    position: fixed;
    z-index: 999;
    gap: 2rem;
    box-shadow: 1px 1px 2px #888888;
}

.text-general {
    margin-top: 1rem;
    margin-left: 2rem;
    text-align: center;
}

.logo {
    font-size: 20px;
    color: yellow;
    display: none;
}

/* HEADER NAVIGATION BAR */
.navbar {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 0 1rem;*/
}

.navbar a {
    color: white;
    padding: 14px 16px;
    /*text-decoration: none;*/
    font-size: 17px;
    display: block;
}

.menu input {
    display: none;
}

.fa-bars {
    /*display: inline-block;*/
    padding-left: 1rem; /* Without this, the icon appear outside the screen somehow*/
    cursor: pointer;
}

.menu-items {
    display: none;
    /*position: absolute;*/
    margin: 0;
    top: 100%;
    left: 0;
    background-color: rgba(104,172,72,1.0);
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.menu-items a {
    padding: 5px;
}

/* HEADER NAVIGATION BAR - SEARCH */
.search-pt {
    display: flex;
    align-items: center; /* Vertically align items */
}

.searchfield {
    max-width: 250px;
    border-radius: 20px; /* Add rounded border */
    overflow: hidden; /* Hide overflow content */
    background-color: #f0f0f0;
    float: left;
    /*margin-top: 10px;*/
}

.searchfield input[type="text"] {
    border: none; /* Remove border */
    padding: 5px; /* Add padding */
    width: 100%; /* Make input element fill parent container */
    box-sizing: border-box; /* Include padding and border in element width */
    text-align: center;
    border-radius: 20px;
}

.searchicon {
    align-items: center;
    float: left;
}


/* USED FOR JAVASCRIPT TO ADJUST THE MENU ON CLICK*/
.fa-bars.style {
    margin-top: 1rem;
}

.menu-items.show {
    display: block;
    padding-right: 100vw;
}

.search.hide {
    display: none;
}

.fa-user.hide {
    display: none;
}

header.background {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}

/* RESPONSIVE HEADER FOR WIDER SCREEN*/
@media screen and (min-width: 728px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin-left: 2%;
        display: flex;
    }

    .navbar {
        gap: 2rem;
        margin-right: 30%;
    }

    .fa-bars {
        display: none;
        cursor: pointer;
    }

    .menu-items {
        display: flex;
        gap: 1rem;
    }

    .menu-items .search .fa-user {
        flex: 1;
    }

    .search {
       display: none;
    }
}

@media screen and (min-width: 1340px) {
    .search {
        display: flex;
        max-width: 400px;
    }
}

/* FOOTER */
footer {
    background-color: rgba(104,172,72,1.0);
    color: black;
    width: 100vw;
    margin-top: auto;
    font-family: sans-serif;
    font-size: 16px;
    padding-bottom: 1rem;
}

footer a {
    color: black;
}

/* FOOTER-ITEMS */
.grid-footer-1 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.grid-footer-1 i {
    padding-top: 1.5rem;
}

.grid-item-footer-1 {
    color: white;
    padding-top: 2em;
    padding-bottom: 1em;
    border-radius: 5px;
}

/* FOOTER-ICONS */
.grid-footer-3 {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 3rem;
}

.grid-footer-3 img {
    max-height: 30px;
    width: 100%;
}

.grid-item-footer-3 {
    margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

/* FOOTER-LINKS */
.grid-footer-2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

/* FOOTER-COPYRIGHT */
.copyright {
    display: flex;
    bottom: 0;
    justify-content: center;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

/* RESPONSIVE FOOTER */
/* Media Query for screens with a maximum width of 480px */
@media (max-width: 480px) {
    .grid-footer-1 {
        flex-direction: column;
    }
}

/* ACTIE */
.aanbiedingsactie {
    color: #2d3748;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 24rem;
    position: relative; /* Set the container as a relative position */
}

.aanbiedingsactie a {
    color: #2d3748;
}

.aanbiedingsactie img{
    width: 100%; /* Occupy the full width of the container */
    height: 24rem; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.text-overlay-actie {
    position: absolute; /* Set the text overlay as an absolute position */
    top: 0; /* Position the overlay at the top */
    left: 0; /* Position the overlay at the left */
    width: 100%; /* Occupy the full width of the container */
    height: 100%; /* Occupy the full height of the container */
    display: flex; /* Use flexbox to center the text vertically and horizontally */
    flex-direction: column; /* Arrange the text in a column */
    justify-content: end;
    margin-left: 1rem;
}

.text-overlay-actie h2,
.text-overlay-actie h3,
.text-overlay-actie a {
    margin: 0; /* Remove any default margin */
}

/* AANBIEDINGEN */
/* THIS COVERS THE COMPLETE ELEMENT */
.grid-actie-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    width: 100%;
    justify-items: center;
}

/* THIS COVERS THE BOX ELEMENT */
.grid-actie {
    background-color: rgba(255,255,255,0.1);
    display: flex;
    width: 26rem;
    height: 14rem;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.grid-actie:hover {
    background-color: #eee;
}

.grid-actie-left {
    width: 60%;
    color: black;
    float: left;
    margin-top: 15%;
    margin-left: 1rem;
}

.grid-actie-right {
    width: 35%;
    float: right;
    color: black;
    margin-top: 5%;
}

.grid-actie-right img {
    max-width: 100%;
}

.grid-actie-right img:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

/* AANBIEDINGEN RESPONSIVE*/
@media screen and (min-width: 1291px) {
    .grid-aanbiedingen-1 {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 836px) {
    .grid-aanbiedingen-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 538px) {
    .aanbiedingsactie {
        width: 100%;
    }

    .aanbiedingsactie {
        width: 100%;
    }

    .grid-aanbiedingen-1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

/* NIEUWS */
.nieuws {
    color: #2d3748;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    height: 24rem;
    width: 100%;
    position: relative; /* Set the container as a relative position */
    margin-bottom: 1rem;

}

.nieuws a {
    color: #2d3748;
}

.nieuws img{
    width: 100%; /* Occupy the full width of the container */
    height: 24rem; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.text-overlay-nieuws {
    position: absolute; /* Set the text overlay as an absolute position */
    top: 0; /* Position the overlay at the top */
    left: 0; /* Position the overlay at the left */
    width: 100%; /* Occupy the full width of the container */
    height: 100%; /* Occupy the full height of the container */
    display: flex; /* Use flexbox to center the text vertically and horizontally */
    flex-direction: column; /* Arrange the text in a column */
    margin-left: 1rem;
}

.text-overlay-nieuws  h2,
.text-overlay-nieuws  h3,
.text-overlay-nieuws  a {
    margin: 0; /* Remove any default margin */
}

/* CATEGORY */
.grid-cat-1 {
    display: grid;
    justify-items: center;
    padding: 1em;
    border-radius: 5px;
    /*margin-bottom: 1rem;*/
}

.grid-cat-1 a:hover {
    color: #edf2f7;
    text-decoration: none;
}

.grid-item-cat-1 {
    background-color: rgba(255,255,255,0.1);
    padding: 1rem 1rem 4em;
    text-align: center;
    color: #edf2f7;
    align-items: center; /* Center vertically */
    width: 14rem;
    height: 14rem;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.grid-item-cat-1 img {
    width: 100%; /* Occupy the full width of the container */
    height: 100%; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.grid-item-cat-1 img:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.overlay-text-cat {
    position: absolute; /* Position the text element */
    top: 83%; /* Adjust the vertical position as needed */
    left: 50%; /* Adjust the horizontal position as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: #2d3748;
    font-size: 1.0rem;
    z-index: 2; /* Ensure the text appears above the image */
    text-align: center;
    pointer-events: none; /* Allow clicks to go through the text */
}

.grid-item-cat-1:hover {
    background-color: #eee;
}

/* CATEGORY RESPONSIVE */
@media screen and (min-width: 1291px) {
    .grid-cat-1 {
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1290px) {
    .grid-cat-1 {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .grid-cat-1 {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 880px) {
    .grid-cat-1 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .grid-item-cat-1 {
        width: 14rem;
        height: 14rem;

    }
}

@media screen and (max-width: 700px) {
    .grid-cat-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .grid-item-cat-1 {
        width: 16rem;
        height: 16rem;

    }
}

@media screen and (max-width: 480px) {
    .grid-cat-1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .grid-item-cat-1 {
        width: 18rem;
        height: 18rem;

    }
}

/* PRODUCTS-OVERVIEW */
/* CSS de banner zie /* PRODUCT */
.grid-products-1 {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    width: 90%;
}

.grid-products-1 a:hover {
    color: #edf2f7;
    text-decoration: none;
}

.grid-pd-cat-1 {
    display: grid;
    justify-items: center;
    padding: 1em;
    border-radius: 5px;
    /*margin-bottom: 1rem;*/
}

.grid-item-products-1 {
    background-color: rgba(255,255,255,0.1);
    padding: 1rem 1rem 4em;
    text-align: center;
    color: #2d3748;
    display: flex; /* Display as flex container */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 16rem;
    height: 20rem;
    position: relative;
    overflow: hidden;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.grid-item-products-1 img {
    width: 70%; /* Occupy the full width of the container */
    height: 70%; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.grid-item-products-1 img:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

.grid-item-products-1 .bottom {
    position: absolute; /* Position the text element */
    top: 83%; /* Adjust the vertical position as needed */
    left: 50%; /* Adjust the horizontal position as needed */
    transform: translate(-50%, -50%); /* Center the text */
    color: #2d3748;
    font-size: 1.0rem;
    z-index: 2; /* Ensure the text appears above the image */
    text-align: center;
    pointer-events: none; /* Allow clicks to go through the text */
}

.grid-item-products-1:hover {
    background-color: #eee;
}

/* PRODUCTS-OVERVIEW RESPONSIVE */
@media screen and (min-width: 1291px) {
    .grid-pd-cat-1 {
        grid-template-columns: repeat(6, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1290px) {
    .grid-pd-cat-1 {
        grid-template-columns: repeat(5, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 1100px) {
    .grid-pd-cat-1 {
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
}

@media screen and (max-width: 880px) {
    .grid-pd-cat-1 {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .grid-item-products-1 {
        width: 14rem;
        height: 14rem;

    }
}

@media screen and (max-width: 700px) {
    .grid-pd-cat-1 {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .grid-item-products-1 {
        width: 18rem;
        height: 18rem;

    }
}

@media screen and (max-width: 640px) {
    .grid-pd-cat-1 {
        grid-template-columns: 1fr;
        gap: 1rem;
    }

    .grid-item-products-1 {
        width: 18rem;
        height: 18rem;

    }
}

/* PRODUCT */
/* PRODUCT-BANNER */
.productbanner {
    color: #2d3748;
    padding: 0;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 1rem;
    width: 100%;
    height: 24rem;
    position: relative; /* Set the container as a relative position */
}

.productbanner a {
    color: #2d3748;
}

.productbanner img{
    width: 100%; /* Occupy the full width of the container */
    height: 24rem; /* Occupy the full height of the container */
    object-fit: cover; /* Fit the image while preserving aspect ratio */
    object-position: center; /* Center the image within the container */
}

.productbanner-text {
    position: absolute; /* Set the text overlay as an absolute position */
    top: 0; /* Position the overlay at the top */
    left: 0; /* Position the overlay at the left */
    width: 100%; /* Occupy the full width of the container */
    height: 100%; /* Occupy the full height of the container */
    display: flex; /* Use flexbox to center the text vertically and horizontally */
    flex-direction: column; /* Arrange the text in a column */
    justify-content: end;
    margin-left: 1rem;
}

.productbanner-text h1 {
    color: white;
}

.productbanner-text h2,
.productbanner-text h3,
.productbanner-text a {
    margin: 0; /* Remove any default margin */
}

/* PRODUCT-BOX */
.product-parent {
    padding: 1em;
    width: 90%;
}

.product-box {
    height: 20rem;
    margin-bottom: 1rem;
    padding-left: 30%;
    padding-right: 30%;
    background-color: rgba(255,255,255,0.1);
    color: #2d3748;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
    gap: 2rem;
}

.product-box .left,
.product-box .middle,
.product-box .right {
    flex: 1;
}

.product-box .left {
    margin-right: 2rem;
}

.product-box .middle {
}

.product-box .right {
}

.product-box img {
    width: 200px; /* Occupy the full width of the container */
    height: 200px; /* Occupy the full height of the container */

}

.product-box img:hover {
    opacity: 0.8;
    transform: scale(1.03);
}
.product-box-omschrijving {
    height: 20rem;
    margin-bottom: 1rem;
    background-color: rgba(255,255,255,0.1);
    color: #2d3748;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.1);
}

.product-box-omschrijving .cat {
}
